local frame_ranges_to_annotate = {
$infos
}

function foo()
    local f = movie.currentFrame()
    for _, range in ipairs(frame_ranges_to_annotate) do
        local start_frame, end_frame, msg = table.unpack(range)
        if f >= start_frame and f <= end_frame then
            -- Draw text at top-left
            gui.text(150, 580, msg)
            break  -- stop after first matching range
        end
    end
end

callback.onPaint(foo)
